<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita Pokemon</title>
    <link rel="stylesheet" href="/nou_css.css">
</head>
<body>
    <header>
        <h1>Editar Pokemon: <%= pokemon.name %></h1>
    </header>
    
    <main>
        <form action="/pokemons/<%= pokemon.id %>?_method=PUT" method="POST">
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" value="<%= pokemon.name %>" required>
            
            <label for="type">Tipus:</label>
            <input type="text" id="type" name="type" value="<%= pokemon.type %>" required>

            <label for="generation">Generació:</label>
            <input type="number" id="generation" name="generation" value="<%= pokemon.generation %>" step="1" required>

            <label for="imatge">Imatge:</label>
            <input type="text" id="imatge" name="imatge" value="<%= pokemon.imatge %>" required>

            <button type="submit">Desar Canvis</button>
        </form>
        <a href="/pokemons">Tornar al llistat</a>
    </main>
</body>
</html>