<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h1>Gestió de Pokemons per <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Pokemons</h2>
            <ul class="pokemon-list">
                <% data.pokemons.forEach(pokemon => { %>
                    <li class="pokemon-item">
                        <strong><%= pokemon.name %></strong>
                        <span>Tipus: <%= pokemon.type %></span>
                        <span>Generació: <%= pokemon.generation %></span>
                        <span><a href="/pokemons/<%=pokemon.id %>">Detall pokemon</a></span>
                        <span><a href="/pokemons/editPokemon/<%=pokemon.id %>">Editar pokemon</a></span>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>